## microservices
fastapi
fastapi[standard]
fastapi-users[beanie]
gradio
uvicorn
pydantic-settings
pydantic>=2.5.0
starlette
redis
azure-cosmos==4.7.0

# AI and OpenAI integration
openai
azure-identity==1.19.0
azure-mgmt-resource==23.1.1
azure-storage-blob>=12.19.0

# HTTPX fix for OpenAI
httpx==0.27.2

# Async and event loop tools
asyncio==3.4.3
tenacity==8.5.0
websockets
pyaudio
python-socks
pipwin
backoff
sounddevice
numpy
dateparser

# python helpers
yfinance
plotly
python-dotenv

# ui
streamlit==1.39.0
streamlit-chat==0.1.1

# ACS
azure-communication-callautomation==1.4.0b1

# Redis
azure-mgmt-redis==14.5.0
aioredis==2.0.1 # async redis client
redis==6.1.0

azure-cognitiveservices-speech>=1.34.0
azure-core>=1.29.0
aiofiles>=23.2.0
structlog>=23.2.0
opencensus-ext-azure>=1.1.9
opencensus-ext-logging>=0.1.1
pytest>=7.4.0
pytest-asyncio>=0.21.0
pytest-mock>=3.12.0
