events {}

http {
  upstream fastapi {
    server fastapi_backend:8000;
  }
  upstream realtime {
    server aiohttp_realtime:8080;
  }

  server {
    listen 80;
    location /api/ {
      proxy_pass http://fastapi;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
    }
    location /realtime {
      proxy_pass http://realtime;
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
    }
    location /health {
      proxy_pass http://fastapi/health;
    }
  }
}
